<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

  <title>{% block title %}{% endblock %}</title>

</head>

<body style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190831/pngtree-pastel-colorful-background-clouds-image_312444.jpg');background-repeat: no-repeat;background-position: center;  background-size:cover; background-color:#D8BFD8;height:800px; width: 100%;">

<!-- NAVBAR-->

<nav class="my-2 my-md-0 mr-md-3">
    <div class= "d-flex  flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
    <h5 class="text-light my-0 mr-md-auto font-weight-bold"><img src="https://cdn140.picsart.com/355956055028201.png?type=webp&to=min&r=640" width="50" >Shorten any URL within seconds - A user-friendly platform by Aashita</h5>
    
      <a class="p-2 text-light font-weight-bold" href="{{ url_for('session_api') }}">API (JSON File)</a>
    <a class="btn btn-outline-primary" href="{{ url_for('index') }}">New URL</a>
  </div>
</nav>
  <!-- NAVBAR-->

  {% for message in get_flashed_messages() %}
  <div class="container text-center">
    <div class="p-3 mb-2 bg-danger text-white">{{ message }}</div>
  </div>
  <br>
  {% endfor %}


  {% block main %}{% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
